

.index{
    display: flex;
    flex-direction: row-reverse;

}
.imgPresentacion{
    background : linear-gradient(90deg, rgba(20,203,192,1) 0%, #56b9b3 100%);
    width: 50%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.cardLeft{
    transition: transform 900ms;
    transform: translateX(0%);
}
.cardRigth{
    transition: transform 900ms;
    transform: translateX(100%);
}
.subTitle{
    margin-bottom: 0.4rem;
    color:  #006d68;;
}

/**********BOTONES  ACCIONES *****************************************/
.btnLogin{
    background: #E44954;
    color: #f1efef;
    outline: none !important; }
.btnLogin:hover{
    background: #f5747c;
}



.btnRegistrarse{

    color: #eaecec;
    border: 2px solid #a0dfd8;
     background-color: transparent;
     outline: none !important;
    }



.btnRegistrarse:hover{ background-color: #2c9689; color: #dddddd ;}

.label-login{
    color: #59737B;
}
.loginAccion{
    margin-top: 4% !important;
}

/***********************************ERRORES*****************************************/
.error{  
    transition: opacity  800ms;
    animation:errores 1000ms;
    animation-iteration-count: 1;

}
@keyframes errores{
    0%{ transform: scale(0.8);}
    50%{  transform: scale(1.2);}
    100%{transform: scale(1);}
}

/********************REGISTROO NEW **************************/

.active{
    display: flex;
 
}
.inactive{
    display: none;
   
}



