
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

.index{
    display: flex;
    flex-direction: row;
    transition: all 800;

}
.imgPresentacion{
    background : linear-gradient(90deg, rgba(20,203,192,1) 0%, #56b9b3 100%);
    width: 50%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: absolute;
}
.cardLeft{
    transition: transform 900ms;
    transform: translateX(0%);
}
.cardRigth{
    transition: transform 900ms;
    transform: translateX(100%);
}
.subTitle{
    margin-bottom: 0.4rem;
    color:  #006d68;;
}

/**********BOTONES  ACCIONES *****************************************/
.btnLogin{
    background: #E44954;
    color: #f1efef;
    outline: none !important; }
.btnLogin:hover{
    background: #f5747c;
}



.btnRegistrarse{

    color: #eaecec;
    border: 2px solid #a0dfd8;
     background-color: transparent;
     outline: none !important;
    }



.btnRegistrarse:hover{ background-color: #2c9689; color: #dddddd ;}

.label-login{
    color: #59737B;
}
.loginAccion{
    margin-top: 4% !important;
}

/***********************************ERRORES*****************************************/
.error{  
    transition: opacity  800ms;
    animation:errores 1000ms;
    animation-iteration-count: 1;

}
@keyframes errores{
    0%{ transform: scale(0.8);}
    50%{  transform: scale(1.2);}
    100%{transform: scale(1);}
}

/********************REGISTROO NEW **************************/

.active{
    opacity: 1;
 
}
.inactive{
   
    
    opacity: 0;
    z-index: -100;
}
.width5{
    width: 48%;
}
.width8{width: 61%;}
.width4{width: 35%;}

/****************FORMULARIO REGSITRO***************/

.label-formRegi{
    color: #59737B;
}
.inputForm{
    background-color: #ececec;
}
